.text1 {
    float: left;
    width: 500px;
}
.clear {
    clear: both;
}
.text2 {
    display: inline-block;
}
.left-wraper {
    float: left;
    background-color: red;
    width: 500px;
}
.right-wraper {
    float: right;
    background-color: yellow;
    width: 500px;
}
.image2 {
    width: 300px;
    float: right;
}
.image1 {
    width: 300px;
    float: right;
}
.clear {
    clear: both;
}
/* .box::after {
    content: '';
    clear: both;
    display: block;
} */